radcad==0.8.4
cadCAD_tools==0.0.1.4
ipykernel
typing_extensions
ipython-autotime
ipywidgets
nbconvert
langchain
openai
streamlit
streamlit-chat
streamlit-extras
hugchat
altair
huggingface_hub
python-dotenv