ipykernel
typing_extensions
ipython-autotime
ipywidgets
nbconvert
langchain
openai
streamlit
hugchat
streamlit-chat
streamlit-extras
python-dotenv
wheel
ocean-lib
radcad==0.8.4
cadCAD_tools==0.0.1.4
altair
huggingface_hub
